.links-companies {
    margin-right: 5px;
    margin-top: 10px;
    font-family: 'Circular Std', sans-serif;
    font-size: 18px;
    color: #46B8C8;
    line-height: 35px;
    text-decoration: none;
    
}

.icon {
    width: 23px;
    height: 23px;
    margin-top: 10px;
}