.wrapper{ 
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
   margin-bottom: 70px;
}

.link {
    margin-top: 10px;
    margin-right: 20px;
}