.solving-problems-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
  width: 100%;
}

.solving-text {
    color: #FB8958;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: -1%;
    margin: 30px ;
    width: 65%;
    text-align: center;
}

@media (max-width: 500px) {
.solving-text{
  font-size: 20px;
  line-height: 25px;
  width: 70%;
}
}